.card{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px solid black;
    width: 100%;
    background-color: skyblue;
    object-fit: cover;
  }
  
  img{
    border-top-left-radius: 1rem;
    border-top-right-radius:1rem;
    object-fit:cover;
  }
  
  .responsive {
    width: 100%;
    height: auto;
  }
  
  
  .card-price{
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem;
  }
  
  .card-features{
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem ;
    font-size: 1.3rem;
  }
  
  .card-dollar span{
    color: blue;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .card-like{
    border-radius: 50%;
    width: 2.7rem;
    height: 2.7rem;
    padding:.5rem;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-body{
    border-bottom: 1px solid black;
    line-height: 2.2rem;
    padding:0 1rem 1rem .5rem;
  }
  
  @media screen and (max-width: 1400px) {
    .card{
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      border: 1px solid black;
      max-width:350px;
      background-color: white;
      object-fit: cover;
    }
    
  }
  
  @media screen and (max-width: 1200px) {
    .card{
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      border: 1px solid black;
      max-width:290px;
      background-color: white;
      object-fit: cover;
    }
    
  }
  
  @media screen and (max-width: 1024px) {
    .card{
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      border: 1px solid black;
      max-width:400px;
      background-color: white;
      object-fit: cover;
    }
    
  }
  
  @media screen and (max-width: 413px) {
    .card{
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      border: 1px solid black;
      width: 300px;
      background-color: white;
      margin: auto;
    }
    
  }
  
  
  
  @media screen and (max-width: 769px) {
    .card{
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      border: 1px solid black;
      max-width:300px;
      background-color: white;
      object-fit: cover;
      margin: auto;
    }
  }
  
  @media screen and (max-width: 913px) {
    .card{
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      border: 1px solid black;
      max-width:350px;
      background-color: white;
      object-fit: cover;
      margin: auto;
    }
  }