.navbar{
    height: 10%;    
    margin-left: 10px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    background-color:yellow ;
}
.rent{
    margin-left: 20%;
}
.sell{
    margin-left: 5%;
}
.buy{
    margin-left: 5%;
}
.fav{
    margin-left: 30%;
    border-radius: 10%;
    border: none;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    margin-left: 5%;
    border: none;
    border-radius: 10%;
    background-color: beige;
}
.signin{
    margin-left: 3%;
    background-color: coral;
    border: none;
    border-radius: 10%;
}

/* //for search */

.search{
    margin-top: 80px;
    margin-left: 15%;
}
.searchheading{
    font-size: 40px;
}
.searchinput{
    margin-left: 25%;
}

/*  */
.card{
    display: inline-flex;
    margin-left: 15%;
    margin-top: 25px;
}
.cardsame{
    margin-left: 25%;
}
.searchbtn{
    margin-left: 15%;
    margin-top: 15px;
}
/* homecards */
.homecards{
    margin-top: 50px;
    margin-left: 10%;
    display: grid;
    row-gap: 50px;
    column-gap: 100px;
    width: max-content;
    grid-template-columns: auto auto auto;
}
.cardsh{
    border: 1px solid black;
   
}
.img{
    width: 300px;
    height: 200px;
}

.wish{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add{
   margin-left: 35%;
   margin-bottom: 5px;
}

@media (max-width: 850px) {
    .navbar{
        height: 10%;    
        background-color: aqua;
        position: fixed;
        top: 0%;
        right: 0%;
        left: 0%;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
 
    .fav{
      display: flex;
      justify-content: center;
      align-items: center;
        border-radius: 10%;
        border: none;
        background-color: coral;
    }
    .login{
        border: none;
        border-radius: 10%;
        background-color: beige;
    }
    .signin{
       
        background-color:coral;
        border: none;
        border-radius: 10%;
    }
    
    /* //for search */
    
    .search{
        margin-top: 100px;
        margin-left: 15%;
    }
    .searchheading{
        font-size: 40px;
    }
    .searchinput{
        margin-left: 25%;
    }
    
    /*  */
    .card{
        display: inline-flex;
        margin-left: 5%;
        margin-top: 25px;
    }
    .cardsame{
        margin-left: 15%;
        
    }
    .searchbtn{
        margin-left: 15%;
        margin-top: 15px;
        
    }
    /* homecards */
    .homecards{
        margin-top: 50px;
        margin-left: 10%;
        display: grid;
        row-gap: 50px;
        column-gap: 60px;
        width: max-content;
        grid-template-columns: auto auto;
    }
    
  
}

@media (max-width: 520px) {
    .navbar{
        height: 10%;    
        background-color:orange;
        position: fixed;
        top: 0%;
        right: 0%;
        left: 0%;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
 
    .fav{
      display: flex;
      justify-content: center;
      align-items: center;
        border-radius: 10%;
        border: none;
        background-color: coral;
    }
   
    .signin{
       
        background-color:coral;
        border: none;
        border-radius: 10%;
    }
    
    /* //for search */
    
    .search{
        margin-top: 150px;
        margin-left: 15%;
    }
    .searchheading{
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .searchinput{
        margin-left: 25%;
        margin-top: 3%;
    }
    
    
  
    /* homecards */
    .homecards{
        margin-top: 50px;
        margin-left: 25%;
        display: grid;
        row-gap: 50px;
        column-gap: 60px;
        width: max-content;
        grid-template-columns: auto ;
    }
    .img{
        width: 450px;
        height: 300px;
    }
    .card{
        display: inline-flex;
       /*  flex-direction: column; */
        
        margin-left: 5%;
        margin-top: 25px;
    }
    .cardsame{
        margin-left: 10%;
        
    }
    .searchbtn{
        margin-left: 10%;
        margin-top: 15px;
        
    }
}
@media (max-width: 400px) {
    .searchheading{
        font-size: 20px;
    }
    .card{
        display: inline-flex;
        margin-top: 25px;
    }
    .cardsame{
        margin-left: 2%;
        
    }
    .searchbtn{
        margin-left: 10%;
        margin-top: 15px;
        
    }
    .homecards{
        margin-top: 50px;
        margin-left: 20%;
        display: grid;
        row-gap: 50px;
        column-gap: 60px;
        width: max-content;
        grid-template-columns: auto ;
    }
    .img{
        width: 400px;
        height: 300px;
    }
    .search{
        margin-top: 100px;
        margin-left: 15%;
    }
}
@media (max-width: 300px) {
    .searchheading{
        font-size: 15px;
        margin-top: 150px
    }
}
@media (max-width: 250px) {
    .searchheading{
        font-size: 10px;
        margin-top: 180px
    }
}
@media (max-width: 160px) {
    .searchheading{
        margin-top: 220px
    }
}
@media (max-width: 150px) {
    .searchheading{
        margin-top: 250px
    }
}